<div class="inputs1">
    <form [formGroup]="formulario">
        <div class="teste3">

            <div>
                <label class="label">Email</label>
                <mat-form-field class="fomularioMail" appearance="outline">

                    <input matInput id="inputLogin" type="email" formControlName="email" placeholder="email@domain.com"
                        [(ngModel)]="login.email">

                </mat-form-field>
                <div class="validacao"
                    *ngIf="formulario.get('email')?.errors?.['required'] && formulario.get('email')?.touched">
                    Email obrigatório
                </div>
            </div>

            <div>
                <label class="label">Senha</label>
                <mat-form-field class="fomularioMail" appearance="outline">

                    <input matInput formControlName="senha" type="password" formControlName="senha"
                        [(ngModel)]="login.senha">

                </mat-form-field>
                <div class="validacao"
                    *ngIf="formulario.get('senha')?.errors?.['required'] && formulario.get('senha')?.touched">
                    senha obrigatório
                </div>
            </div>

        </div>

        <button mat-button id="button" type="submit" [disabled]="!formulario.valid">Entrar</button>

    </form>
</div>
