.content{
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;

  .topo{
    height: 22%;
    display: flex;
    justify-content: space-between;
    font-family: var(--font-Principal);


    h1{
      font-size: 2.5em;
      color: white;
      align-self: end;
      font-family: var(--font-Principal);

    }
  }
  .select{
    color: white;
    align-self: end;

    .teste{
      --color: white;

    }
  }

  hr{
    margin-top: 20px;
    width: 100%;
    height: 1px;
    background-color: white;
  }
}

.avaliacoes{
  padding: 50px;
  color: white;
}
